.slide {
	background: url('img/Clouds_Worship_Slide.jpg') no-repeat;
	color: white;
	background-color: white;
	border-radius: 20px;
	padding: 10px;
	background-size: 820px 620px;
}

body { background-color: gray;  font-family: Arial, Helvetica;}

.step {
width:800px;
height:600px;
}
.slide DIV:first-child {
font-size: 3em;
font-weight: bold;
color: white;
}

.P8,.P9{
	padding-right: 20px;
	background-color: black;
	font-family: courier;
}
