#step-1 {background: url("bg/tunnel.jpg") no-repeat; background-size: 820px 620px}
#step-2 {background: url("bg/a-group-of-people-powerpoint-backgrounds.jpg") no-repeat; background-size: 820px 620px}
#step-4 {background: url("bg/network.jpg") no-repeat; background-size: 820px 620px}
#step-5 {background: url("bg/network.jpg") no-repeat; background-size: 820px 620px}
#step-7 {background: url("bg/ingredients.jpg") no-repeat; background-size: 820px 620px}
#step-9 {background: url("bg/fence.jpg") no-repeat; background-size: 820px 620px}
#step-10 {background: url("bg/fence.jpg") no-repeat; background-size: 820px 620px}
#step-11 {background: url("bg/tools.jpg") no-repeat; background-size: 820px 620px}
#step-13 {background: url("bg/phone.jpg") no-repeat; background-size: 820px 620px}
