#step-1 {background: url("style/love-hate-baby.jpg") no-repeat; background-size: 820px 620px}
#step-2 {background: url("style/key-ingredients-about-us.jpg") no-repeat; background-size: 820px 620px}
#step-3 {background: url("style/Long_Distance_Running.jpg") no-repeat; background-size: 820px 620px}
#step-5 {background: url("style/iceberg--1.jpg") no-repeat; background-size: 820px 620px}
#step-7 {background: url("style/compass-success-1024x622.jpg") no-repeat; background-size: 820px 620px}
#step-8 {background: url("style/idea.jpg") no-repeat; background-size: 820px 620px}
